.container {
	height: 104px;
	background: #2b2a29;
	.nav {
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		font-family: 'Montserrat', sans-serif;
		color: #ffffff;
		display: flex;
		justify-content: space-between;
		.logo {
			padding-top: 37px;
		}
		.menu {
			display: flex;
			gap: 80px;
			padding-top: 42px;
			a {
				text-decoration: none;
				color: white;
				&:hover {
					opacity: 0.8;
				}
				&:hover {
					opacity: 0.6;
				}
			}
		}
		.applicationContainer {
			padding-top: 26px;
			.application {
				border-radius: 4px;
				color: #f59d0e;
				border: #f59d0e 1px solid;
				padding: 16px 24px;
				&:hover {
					opacity: 0.8;
				}
				&:active {
					opacity: 0.6;
				}
			}
		}

		.secondMenu {
			padding-top: 40px;
			display: flex;
			gap: 36px;
			a {
				&:hover {
					opacity: 0.8;
				}
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}
