.container {
	width: 580px;
	font-family: Montserrat, sans-serif;
	color: #2b2a29;
	margin-top: 60px;
	.header {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 48px;
	}
	.section {
		margin-bottom: 50px;
		.commentField {
			width: 100%;
			height: 128px;
			border: 1px solid #d9d9d9;
			border-radius: 1px;
			resize: none;
		}
		.flex {
			display: flex;
			justify-content: space-between;
		}
		.fieldName {
			margin-bottom: 24px;
			font-family: Montserrat, sans-serif;
			font-weight: 500;
			font-size: 20px;
			color: #000000;
		}
		.inputSection {
			margin-bottom: 20px;
			.inputName {
				font-weight: 400;
				font-family: Montserrat, sans-serif;
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
	.buttonSection {
		display: flex;
		justify-content: space-between;
		.error {
			width: 50%;
			height: 52px;
		}
	}
}
