*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
figure,
picture {
    padding: 0;
    margin: 0;
    background: #EBEBEA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
