$table-background: #FFFBFC;
$text-primary: #2B2A29;
$button-default: #F59D0E;
$disabled: #AFB0B0;
$button-alt: #00D29D;
$button-hover: #FFB122;
$button-active: #E18900;
$table-borders: #D9D9D9;
$subtext: #808285;
